# Credit Score Classification

## Objective
The primary objective of this project is to develop a machine learning model that accurately classifies individuals into predefined credit score categories based on various features available in the dataset. The end goal is to create a tool that can help financial institutions assess the creditworthiness of their clients efficiently and reliably.

# Features Description

- **ID**: A unique identifier for each entry in the dataset.

- **Customer_ID**: A unique identifier for each customer. This is used to track individual credit records.

- **Month**: The transaction or record month. Useful for temporal analysis to track scores over time.

- **Name**: The name of the customer. Generally not used for modeling but may be used for descriptive purposes.

- **Age**: The age of the customer. Age could be a significant factor in determining credit risk.

- **SSN**: Social Security Number. Typically, not used directly in modeling but important for identification and verification processes.

- **Occupation**: The occupation of the customer. Different occupation types can have varying default risk associated with them.

- **Annual_Income**: The total yearly income of the customer. A key factor in determining an individual's ability to repay loans.

- **Monthly_Inhand_Salary**: The salary in-hand received monthly after deductions. Important for assessing cash flow and repayment capacity.

- **Num_Bank_Accounts**: Total number of bank accounts the customer has. Reflects financial behavior and stability.

- **Num_Credit_Card**: The number of credit cards held by the customer. Related to credit exposure and spending habits.

- **Interest_Rate**: The interest rate applicable on loans or credit cards. Influences the customer’s repayment burden.

- **Num_of_Loan**: The total number of loans the customer has. Shows the level of indebtedness.

- **Type_of_Loan**: The types of loans held by the customer (e.g., personal, auto, mortgage). Different loan types carry different risks.

- **Delay_from_due_date**: Average delay in days for payments past due date. Indicative of payment habits and reliability.

- **Num_of_Delayed_Payment**: Number of payments delayed beyond due dates. Impacts credit score directly.

- **Changed_Credit_Limit**: Changes in credit limits. Could indicate changes in perceived creditworthiness or attempts to manage debts.

- **Num_Credit_Inquiries**: Number of times the credit report has been pulled. A high number might indicate financial distress or credit shopping.

- **Credit_Mix**: The variety of credit types the customer has (e.g., cards, mortgages, installment loans). Diversity can be positive or negative.

- **Outstanding_Debt**: The total debt remaining unpaid. High debt indicates higher risk.

- **Credit_Utilization_Ratio**: The percentage of credit used out of the total available credit limit. Higher ratios suggest greater risk.

- **Credit_History_Age**: The age of the customer’s oldest credit account, usually in years and months. Longer histories typically boast better scores.

- **Payment_of_Min_Amount**: Whether the customer makes only the minimum monthly payment. Shows risk-averse behavior.

- **Total_EMI_per_month**: The total Equated Monthly Installment paid across all loans. Determines monthly financial burden.

- **Amount_invested_monthly**: The amount the customer invests monthly. Suggests savings habits and financial health.

- **Payment_Behaviour**: General payment behavior and patterns. A qualitative measure of reliability.

- **Monthly_Balance**: The balance remaining after monthly expenses. Indicates cash flow and financial stability.


## Target
The target variable for this classification problem is the credit score category, which segments individuals according to their creditworthiness. The categories may include, but are not limited to:
- **Good**: Represents individuals who have a high credit score and are likely to meet their credit obligations.
- **Average**: Represents individuals with a medium-range credit score, indicating moderate creditworthiness.
- **Poor**: Represents individuals with a low credit score, suggesting a higher risk of default.

The model will be trained to assign each individual in the dataset to one of these categories based on the input features.

# 01. Import Necessary Libraries

- Default Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

- Additional Libraries

In [2]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from xgboost import plot_importance
from sklearn.model_selection import cross_val_score, KFold, RandomizedSearchCV
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

----------------
# 02. Load Data

In [3]:
train = pd.read_csv("Data/train.csv")

C:\Users\alisa\AppData\Local\Temp\ipykernel_5256\3141004913.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("Data/train.csv")

----------------
# 03. Exploratory Data Analysis (EDA)

## `i` Simple Analysis

In [4]:
train.shape

(100000, 28)

In [5]:
train.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [ ]:
train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [8]:
train.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

- **'Name'** Missing values: 9985 -> ignore that because we will drop the column anyway.
- **'Monthly_Inhand_Salary'** Missing values: 15002 -> We can group customers by their jobs and take the mean of monthly salary then fill the null values with.
- **'Type_of_Loan'** Missing values: 11408 -> we can fill with the most commen loan. and the pepole with range age 20 - 25  fill with 'Student Loan' and check for his job.
- **'Num_of_Delayed_Payment'** Missing values: 7002 -> 
- **'Num_Credit_Inquiries'** Missing values: 1965 -> 
- **'Credit_History_Age'** Missing values: 9030 -> 
- **'Amount_invested_monthly'** Missing values: 4479 -> 
- **'Monthly_Balance'** Missing values: 1200 ->

In [9]:
train.duplicated().sum()

0

Check the unknown symbols and unclean data, and wrong patterns to handle them.

In [10]:
int_cols = train.select_dtypes(include=['int64', 'float64']).columns

In [18]:
list_of_cols = [col for col in train.columns if col not in ['ID', 'Customer_ID', 'SSN'] + list(int_cols)]

for col in list_of_cols:
    if train[col].dtype == 'object':
        print(f"Column: {col}")
        print(f"Unique values: {train[col].unique()[:10]}")
        print(f"Missing values: {train[col].isnull().sum()}")
        print("-" * 50)

Column: Month
Unique values: ['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August']
Missing values: 0
--------------------------------------------------
Column: Name
Unique values: ['Aaron Maashoh' nan 'Rick Rothackerj' 'Langep' 'Jasond' 'Deepaa' 'Np'
 'Nadiaq' 'Annk' 'Charlie Zhur']
Missing values: 9985
--------------------------------------------------
Column: Age
Unique values: ['23' '-500' '28_' '28' '34' '54' '55' '21' '31' '33']
Missing values: 0
--------------------------------------------------
Column: Occupation
Unique values: ['Scientist' '_______' 'Teacher' 'Engineer' 'Entrepreneur' 'Developer'
 'Lawyer' 'Media_Manager' 'Doctor' 'Journalist']
Missing values: 0
--------------------------------------------------
Column: Annual_Income
Unique values: ['19114.12' '34847.84' '34847.84_' '143162.64' '30689.89' '30689.89_'
 '35547.71_' '35547.71' '73928.46' '131313.4']
Missing values: 0
--------------------------------------------------
Column: Num_of_Loan
Unique values: ['4' '1' '3' '967' '-100' '0' '0_' '2' '3_' '2_']
Missing values: 0
--------------------------------------------------
Column: Type_of_Loan
Unique values: ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'
 'Credit-Builder Loan' 'Auto Loan, Auto Loan, and Not Specified'
 'Not Specified' nan 'Credit-Builder Loan, and Mortgage Loan'
 'Not Specified, Auto Loan, and Student Loan'
 'Personal Loan, Debt Consolidation Loan, and Auto Loan'
 'Not Specified, and Payday Loan'
 'Credit-Builder Loan, Personal Loan, and Auto Loan']
Missing values: 11408
--------------------------------------------------
Column: Num_of_Delayed_Payment
Unique values: ['7' nan '4' '8_' '6' '1' '-1' '3_' '0' '8']
Missing values: 7002
--------------------------------------------------
Column: Changed_Credit_Limit
Unique values: ['11.27' '_' '6.27' '9.27' '5.42' '7.42' '6.42' '7.1' '11.1' '9.1']
Missing values: 0
--------------------------------------------------
Column: Credit_Mix
Unique values: ['_' 'Good' 'Standard' 'Bad']
Missing values: 0
--------------------------------------------------
Column: Outstanding_Debt
Unique values: ['809.98' '605.03' '1303.01' '632.46' '943.86' '548.2' '352.16' '1704.18'
 '1377.74' '421.43']
Missing values: 0
--------------------------------------------------
Column: Credit_History_Age
Unique values: ['22 Years and 1 Months' nan '22 Years and 3 Months'
 '22 Years and 4 Months' '22 Years and 5 Months' '22 Years and 6 Months'
 '22 Years and 7 Months' '26 Years and 7 Months' '26 Years and 8 Months'
 '26 Years and 9 Months']
Missing values: 9030
--------------------------------------------------
Column: Payment_of_Min_Amount
Unique values: ['No' 'NM' 'Yes']
Missing values: 0
--------------------------------------------------
Column: Amount_invested_monthly
Unique values: ['80.41529543900253' '118.28022162236736' '81.699521264648'
 '199.4580743910713' '41.420153086217326' '62.430172331195294'
 '178.3440674122349' '24.785216509052056' '104.291825168246'
 '40.39123782853101']
Missing values: 4479
--------------------------------------------------
Column: Payment_Behaviour
Unique values: ['High_spent_Small_value_payments' 'Low_spent_Large_value_payments'
 'Low_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 'High_spent_Medium_value_payments' '!@9#%8'
 'High_spent_Large_value_payments']
Missing values: 0
--------------------------------------------------
Column: Monthly_Balance
Unique values: ['312.49408867943663' '284.62916249607184' '331.2098628537912'
 '223.45130972736786' '341.48923103222177' '340.4792117872438'
 '244.5653167062043' '358.12416760938714' '470.69062692529184'
 '484.5912142650067']
Missing values: 1200
--------------------------------------------------
Column: Credit_Score
Unique values: ['Good' 'Standard' 'Poor']
Missing values: 0
--------------------------------------------------

In [12]:
check_cols = ['Monthly_Balance', 'Amount_invested_monthly', 'Outstanding_Debt']

In [13]:
for col in check_cols:
    # Print unique non-numeric values in each column
    non_numeric = train[~train[col].astype(str).str.replace('.', '', 1).str.replace('-', '', 1).str.isdigit()][col].unique()[:10]
    print(f"Column: {col}")
    print(f"Non-numeric values: {non_numeric}")
    print("-" * 50)

Column: Monthly_Balance
Non-numeric values: [nan '__-333333333333333333333333333__']
--------------------------------------------------
Column: Amount_invested_monthly
Non-numeric values: ['__10000__' nan]
--------------------------------------------------
Column: Outstanding_Debt
Non-numeric values: ['1328.93_' '1283.37_' '2797.17_' '3818.57_' '343.84_' '363.51_' '404.51_'
 '1755.81_' '2593.44_' '89.62_']
--------------------------------------------------

In [17]:
integer_columns = ['Age', 'Annual_Income', 'Num_of_Loan','Num_of_Delayed_Payment', 
                   'Changed_Credit_Limit','Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

for col in integer_columns:
    # Coerce conversion to numeric (invalid parsing becomes NaN)
    coerced = pd.to_numeric(train[col], errors='coerce')
    
    # Mask where original value is not numeric but not NaN in original column
    mask = coerced.isna() & train[col].notna()
    
    invalid_values = train.loc[mask, col].unique()
    
    print(f"\nColumn: {col}")
    print("Invalid values found:")
    print(invalid_values)
    print(f"Number of invalid entries: {mask.sum()}")
    print("-" * 50)

Column: Age
Invalid values found:
['28_' '34_' '30_' '24_' '33_' '35_' '31_' '40_' '37_' '54_' '21_' '20_'
 '43_' '38_' '18_' '2111_' '46_' '16_' '19_' '47_' '53_' '25_' '27_' '55_'
 '42_' '48_' '49_' '50_' '32_' '22_' '17_' '29_' '15_' '51_' '26_' '39_'
 '14_' '36_' '44_' '7670_' '45_' '23_' '41_' '52_' '733_' '5769_' '4383_'
 '56_' '2650_' '3307_' '6962_' '5589_' '6556_' '1447_' '8153_' '3834_'
 '6744_' '6471_' '7723_' '7640_' '6408_' '3502_' '7316_' '1102_' '8669_'
 '2463_' '6666_' '3055_' '1248_' '2220_' '2159_' '4583_' '3988_' '2155_'
 '6770_' '1843_' '1367_' '3742_' '2171_' '5109_' '3984_' '2474_' '5046_'
 '7715_' '2329_' '707_' '844_' '2756_' '2037_' '902_' '8523_' '3640_'
 '3998_' '3712_' '2097_' '8348_' '5373_' '3291_' '2994_' '3339_' '2812_'
 '3578_' '3564_' '1794_' '737_' '4301_' '2846_' '2373_' '1188_' '8207_'
 '5909_' '6381_' '8616_' '6799_' '1591_' '3775_' '6564_' '7122_' '4913_'
 '5697_' '3843_' '4445_' '6921_' '780_' '1070_' '5798_' '4808_']
Number of invalid entries: 4939
--------------------------------------------------

Column: Annual_Income
Invalid values found:
['34847.84_' '30689.89_' '35547.71_' ... '16680.35_' '37188.1_'
 '39628.99_']
Number of invalid entries: 6980
--------------------------------------------------

Column: Num_of_Loan
Invalid values found:
['0_' '3_' '2_' '5_' '8_' '9_' '4_' '7_' '1_' '6_' '597_' '92_' '1347_'
 '1185_' '235_' '1459_' '1320_' '630_' '359_' '1225_' '131_' '1311_'
 '1129_' '785_' '143_' '1131_' '27_' '1171_' '227_' '378_' '1219_' '527_'
 '1027_' '696_' '1132_']
Number of invalid entries: 4785
--------------------------------------------------

Column: Num_of_Delayed_Payment
Invalid values found:
['8_' '3_' '2_' '13_' '14_' '12_' '22_' '4_' '11_' '21_' '10_' '183_' '9_'
 '19_' '24_' '17_' '23_' '20_' '6_' '1_' '16_' '15_' '26_' '18_' '5_'
 '25_' '7_' '0_' '2569_' '27_' '663_' '-2_' '28_' '-1_' '1323_' '2794_'
 '2219_' '758_' '-3_' '848_' '2237_' '3097_' '2566_' '3840_' '2278_'
 '1087_' '1295_' '3861_' '2142_' '1473_' '3920_']
Number of invalid entries: 2744
--------------------------------------------------

Column: Changed_Credit_Limit
Invalid values found:
['_']
Number of invalid entries: 2091
--------------------------------------------------

Column: Outstanding_Debt
Invalid values found:
['1328.93_' '1283.37_' '2797.17_' '3818.57_' '343.84_' '363.51_' '404.51_'
 '1755.81_' '2593.44_' '89.62_' '1054.86_' '1374.23_' '1166.47_' '457.81_'
 '1684.06_' '1126.35_' '2098.83_' '761.18_' '1343.01_' '1342.61_'
 '1435.94_' '2354.21_' '1319.87_' '821.27_' '3271.84_' '465.04_' '218.25_'
 '1274.59_' '1033.59_' '642.42_' '94.75_' '4145.87_' '328.41_' '4813.02_'
 '477.41_' '165.88_' '1286.68_' '128.33_' '2106.68_' '3078.82_' '634.77_'
 '878.19_' '2518.51_' '1235.48_' '669.35_' '240.6_' '70.66_' '3099.57_'
 '486.48_' '1124.37_' '152.6_' '1716.82_' '886.09_' '1370.48_' '640.4_'
 '484.43_' '1417.89_' '1539.61_' '2517.0_' '539.59_' '802.47_' '289.1_'
 '4542.88_' '590.85_' '155.2_' '697.86_' '825.25_' '1644.31_' '960.38_'
 '282.06_' '985.01_' '1491.56_' '3723.83_' '1350.6_' '1248.05_' '3531.62_'
 '1017.45_' '60.04_' '2468.2_' '2234.83_' '1073.76_' '4972.01_' '2107.76_'
 '3754.18_' '3656.46_' '291.71_' '281.42_' '1251.25_' '47.18_' '381.06_'
 '174.79_' '4375.21_' '1412.35_' '2296.23_' '1023.62_' '1912.96_'
 '221.86_' '3090.08_' '1474.32_' '396.97_' '1457.54_' '479.81_' '1675.0_'
 '3513.87_' '1202.05_' '698.05_' '83.96_' '500.24_' '50.93_' '227.12_'
 '1172.87_' '2817.77_' '3257.62_' '1331.37_' '1729.78_' '1304.45_'
 '1393.23_' '839.1_' '82.36_' '1042.25_' '1155.94_' '2818.83_' '754.55_'
 '679.2_' '1393.85_' '1358.96_' '1200.53_' '1721.85_' '929.51_' '1353.06_'
 '1184.81_' '1078.95_' '321.76_' '4735.18_' '288.92_' '163.11_' '1150.03_'
 '2589.63_' '2554.65_' '289.59_' '364.35_' '328.91_' '202.68_' '1372.21_'
 '4010.91_' '1170.65_' '664.2_' '651.92_' '1103.08_' '1275.32_' '1051.51_'
 '3445.84_' '1052.21_' '4401.57_' '233.93_' '3980.49_' '305.84_'
 '2550.65_' '506.93_' '1427.03_' '1274.63_' '743.65_' '1438.69_'
 '1265.83_' '702.16_' '755.17_' '3084.5_' '1619.22_' '2080.28_' '1109.03_'
 '905.18_' '1189.51_' '684.03_' '2162.63_' '773.94_' '108.67_' '3057.46_'
 '1398.28_' '1112.8_' '4.61_' '951.78_' '2154.6_' '1279.86_' '865.3_'
 '65.59_' '313.97_' '880.43_' '718.95_' '2680.87_' '1389.92_' '849.02_'
 '1216.59_' '572.55_' '2549.27_' '135.37_' '891.96_' '2196.59_' '3951.34_'
 '656.7_' '790.99_' '874.44_' '924.21_' '153.99_' '1328.9_' '2405.43_'
 '816.95_' '2289.38_' '823.66_' '96.62_' '1477.83_' '1773.45_' '695.45_'
 '3093.39_' '2570.66_' '1076.67_' '4525.41_' '502.35_' '554.82_' '783.52_'
 '2550.26_' '1238.06_' '250.56_' '60.25_' '1269.66_' '2447.81_' '137.68_'
 '3019.17_' '375.51_' '2460.77_' '2393.94_' '3356.86_' '3600.06_'
 '678.58_' '678.53_' '1366.18_' '2598.21_' '1571.84_' '1199.47_'
 '1434.75_' '1427.36_' '4896.28_' '3665.2_' '883.9_' '2444.84_' '4607.43_'
 '300.7_' '1382.56_' '171.45_' '529.84_' '725.53_' '187.21_' '1281.77_'
 '405.45_' '270.42_' '647.15_' '1340.52_' '1639.82_' '1287.97_' '872.16_'
 '1584.95_' '2748.82_' '1305.12_' '1169.13_' '1289.91_' '2914.68_'
 '4622.5_' '186.6_' '465.86_' '1552.71_' '2896.95_' '188.33_' '330.68_'
 '182.91_' '1478.07_' '1477.46_' '822.72_' '1014.5_' '884.18_' '1539.17_'
 '629.16_' '1490.48_' '2255.57_' '113.42_' '994.53_' '4381.33_' '3523.03_'
 '28.15_' '1873.53_' '499.1_' '1054.9_' '566.98_' '2461.32_' '2052.35_'
 '3421.09_' '1264.42_' '1617.55_' '891.64_' '66.47_' '1324.1_' '1306.74_'
 '1519.71_' '895.2_' '1151.7_' '484.16_' '2781.03_' '2268.36_' '830.07_'
 '1136.85_' '2193.11_' '431.39_' '1025.3_' '2170.62_' '4106.5_' '587.02_'
 '339.47_' '4247.2_' '3917.82_' '3990.44_' '693.39_' '310.76_' '1774.51_'
 '1286.42_' '674.41_' '1464.74_' '517.07_' '4525.71_' '393.52_' '530.96_'
 '645.77_' '1160.42_' '3252.14_' '1746.37_' '1234.91_' '3114.29_' '59.17_'
 '2987.02_' '1074.99_' '4974.81_' '715.18_' '53.79_' '1256.67_' '922.89_'
 '466.36_' '533.41_' '650.47_' '659.68_' '1223.0_' '281.77_' '1393.19_'
 '2829.78_' '163.32_' '246.06_' '442.63_' '1036.4_' '1270.65_' '1319.74_'
 '776.31_' '1032.13_' '2286.31_' '1559.16_' '577.4_' '1046.3_' '446.31_'
 '4572.01_' '597.32_' '1255.55_' '473.15_' '2694.09_' '457.32_' '1533.48_'
 '1290.06_' '2352.38_' '369.7_' '1179.95_' '4319.35_' '1745.84_' '1422.8_'
 '805.95_' '137.95_' '1753.33_' '1460.07_' '412.52_' '1443.54_' '810.8_'
 '2663.62_' '2553.1_' '3777.68_' '2563.0_' '2695.77_' '1078.64_'
 '1274.12_' '2127.78_' '3331.54_' '820.04_' '4254.78_' '1261.71_'
 '2010.01_' '493.42_' '153.48_' '272.6_' '1885.3_' '37.71_' '854.02_'
 '601.76_' '645.24_' '2050.42_' '2483.98_' '714.54_' '653.37_' '2301.93_'
 '547.05_' '1308.67_' '1571.26_' '28.85_' '274.48_' '1204.86_' '1034.08_'
 '3830.47_' '2735.13_' '1364.64_' '4108.42_' '990.39_' '1215.11_'
 '4151.04_' '1348.66_' '336.54_' '1013.53_' '1472.86_' '1909.03_'
 '3270.39_' '860.37_' '290.39_' '2866.5_' '1192.4_' '1246.97_' '711.8_'
 '1376.25_' '3549.71_' '4598.96_' '1977.54_' '4632.72_' '655.05_'
 '2559.02_' '453.4_' '777.89_' '864.67_' '2032.49_' '1257.27_' '1171.51_'
 '364.08_' '3509.08_' '693.37_' '1330.29_' '1200.93_' '1205.02_' '889.46_'
 '412.53_' '1374.76_' '1020.27_' '888.02_' '586.55_' '402.23_' '124.1_'
 '651.79_' '1463.48_' '2159.47_' '3080.03_' '809.86_' '1793.37_' '447.18_'
 '154.63_' '98.81_' '2236.0_' '3143.12_' '176.96_' '299.8_' '2563.31_'
 '1616.26_' '1181.13_' '245.46_' '1278.12_' '3011.81_' '379.73_' '384.22_'
 '149.92_' '675.51_' '2077.81_' '3645.73_' '1481.35_' '2813.15_' '785.19_'
 '1811.96_' '2362.56_' '1221.11_' '1385.21_' '418.24_' '1600.43_'
 '1075.37_' '1455.38_' '1056.32_' '639.32_' '2261.01_' '1369.84_'
 '595.44_' '1190.45_' '74.04_' '1112.47_' '3072.15_' '405.99_' '606.48_'
 '1603.52_' '3781.47_' '881.24_' '2802.45_' '1071.33_' '2490.34_'
 '1367.94_' '3313.55_' '1695.41_' '1080.98_' '4733.81_' '1587.62_'
 '1948.99_' '1250.01_' '1732.94_' '899.28_' '1438.65_' '1543.16_'
 '1883.54_' '469.39_' '968.19_' '10.55_' '64.66_' '340.65_' '2918.16_'
 '868.83_' '814.52_' '2683.21_' '1077.27_' '3346.41_' '1671.15_'
 '1067.77_' '757.74_' '385.83_' '1496.11_' '4648.32_' '542.35_' '140.57_'
 '1154.49_' '2575.62_' '465.88_' '159.41_' '2651.74_' '3152.24_'
 '2074.85_' '636.43_' '911.67_' '1344.25_' '1082.86_' '4709.03_' '707.43_'
 '201.05_' '1420.04_' '1752.55_' '1326.06_' '792.46_' '297.64_' '2375.63_'
 '1619.56_' '432.53_' '669.47_' '2654.31_' '600.66_' '724.81_' '1163.48_'
 '1405.42_' '106.28_' '638.57_' '3051.99_' '48.42_' '334.24_' '695.19_'
 '3530.13_' '78.41_' '2899.67_' '3659.35_' '601.78_' '261.59_' '1382.94_'
 '780.59_' '625.84_' '1096.06_' '2044.39_' '340.16_' '82.6_' '335.3_'
 '2115.47_' '91.34_' '233.83_' '1246.99_' '1425.23_' '2245.8_' '1066.48_'
 '3651.35_' '897.82_' '2646.26_' '771.0_' '425.17_' '1302.82_' '2986.89_'
 '2153.66_' '1472.91_' '90.89_' '1064.61_' '103.86_' '4854.6_' '1180.91_'
 '4770.24_' '37.21_' '838.13_' '1722.61_' '758.45_' '464.4_' '2552.26_'
 '1150.54_' '1874.2_' '1188.75_' '1231.39_' '340.22_' '1570.89_'
 '1116.03_' '1386.36_' '239.33_' '1121.05_' '250.99_' '330.47_' '2783.29_'
 '1549.11_' '1133.1_' '64.69_' '863.48_' '4416.93_' '460.46_' '587.16_'
 '1625.55_' '3077.57_' '234.47_' '110.19_' '459.86_' '1820.55_' '1452.74_'
 '4931.01_' '568.61_' '1190.67_' '282.08_' '125.33_' '1023.49_' '1383.88_'
 '2552.06_' '1140.58_' '2048.13_' '1288.02_' '1181.44_' '1059.46_'
 '1621.69_' '954.65_' '367.77_' '1583.58_' '1959.49_' '3562.24_'
 '1055.36_' '921.35_' '1438.18_' '59.58_' '725.13_' '754.8_' '912.63_'
 '836.67_' '1450.15_' '2660.96_' '3145.39_' '1285.51_' '2779.34_'
 '1268.49_' '2911.44_' '1176.76_' '3991.35_' '1506.93_' '1048.02_'
 '1751.09_' '387.39_' '307.19_' '1392.95_' '1490.29_' '1039.62_' '248.71_'
 '157.85_' '735.75_' '605.35_' '4078.71_' '1447.09_' '518.86_' '1240.45_'
 '1216.31_' '926.62_' '695.46_' '281.84_' '1476.59_' '210.01_' '761.2_'
 '345.22_' '1442.28_' '1080.51_' '3398.95_' '915.78_' '1708.53_'
 '1178.78_' '2235.81_' '4417.41_' '1250.71_' '330.21_' '217.5_' '27.19_'
 '667.56_' '953.87_' '1677.29_' '80.09_' '2395.39_' '4461.39_' '1332.7_'
 '463.59_' '2196.5_' '1061.06_' '2150.61_' '443.32_' '334.63_' '39.28_'
 '3783.35_' '1337.34_' '1450.47_' '1161.51_' '2537.45_' '2318.76_'
 '4106.36_' '1566.55_' '437.45_' '1151.35_' '661.03_' '719.76_' '366.46_'
 '598.76_' '263.49_' '542.56_' '1254.45_' '1457.03_' '966.07_' '996.96_'
 '836.95_' '1125.03_' '2334.98_' '1438.91_' '438.74_' '315.39_' '382.17_'
 '1082.56_' '300.47_' '183.3_' '4597.44_' '1179.64_' '2103.16_' '52.07_'
 '2083.35_' '1891.76_' '418.89_' '655.52_' '41.35_' '1461.64_' '954.44_'
 '706.22_' '1816.7_' '1254.14_' '731.37_' '1310.56_' '303.23_' '93.93_'
 '726.75_' '583.73_' '1882.8_' '3783.14_' '50.13_' '1673.76_' '1306.3_'
 '4355.7_' '23.64_' '4921.57_' '2577.55_' '99.33_' '105.89_' '344.46_'
 '624.01_' '2618.46_' '745.43_' '1209.6_' '390.98_' '1402.23_' '2630.82_'
 '534.08_' '876.74_' '835.14_' '2256.77_' '923.5_' '156.14_' '692.75_'
 '3470.89_' '932.69_' '1887.08_' '852.74_' '4953.29_' '2595.94_' '25.16_'
 '991.98_' '146.68_' '2781.7_' '1333.49_' '1249.18_' '585.36_' '1449.78_'
 '731.05_' '422.57_' '817.66_' '1155.21_' '370.22_' '102.46_' '1043.22_'
 '1433.49_' '780.26_' '4948.46_' '738.15_' '342.3_' '69.03_' '4194.87_'
 '551.36_' '789.03_' '2607.71_' '1045.77_' '1154.16_' '173.84_' '696.74_'
 '194.4_' '435.89_' '431.41_' '347.01_' '451.12_' '1378.2_' '1351.51_'
 '327.43_' '378.11_' '430.64_' '407.44_' '747.26_' '714.69_' '1442.1_'
 '3842.25_' '1756.68_' '3360.92_' '443.19_' '561.21_' '613.93_' '1096.02_'
 '1360.66_' '3988.4_' '3025.44_' '1379.19_' '1480.12_' '708.2_' '2953.79_'
 '314.56_' '2693.61_' '619.5_' '4787.13_' '1342.51_' '406.94_' '1090.21_'
 '2517.66_' '1933.79_' '1012.23_' '640.78_' '1182.19_' '636.65_'
 '1799.87_' '3190.38_' '708.27_' '562.05_' '42.69_' '1276.23_' '272.17_'
 '1361.45_' '3813.3_' '1077.91_' '2699.17_' '625.89_' '732.33_' '2608.97_'
 '828.7_' '66.93_' '2027.76_' '1104.44_' '110.71_' '285.29_' '1938.26_'
 '654.12_' '1464.77_' '512.83_' '1392.71_' '64.47_' '412.38_' '544.82_'
 '1233.96_' '3515.45_' '170.53_' '258.04_' '1325.41_' '373.74_' '1198.78_'
 '1347.95_' '97.33_' '506.71_' '1368.62_' '4671.72_' '291.67_' '4986.03_'
 '450.79_' '3530.46_' '86.68_' '16.45_' '132.87_' '127.88_' '3375.66_'
 '1351.26_' '121.26_' '502.78_' '30.31_' '1286.57_' '673.32_' '2130.22_'
 '4137.37_' '1258.59_' '1167.75_' '3332.8_' '558.21_' '741.68_' '1127.98_'
 '427.68_' '860.91_' '970.11_' '327.48_' '1203.25_' '711.08_' '773.2_'
 '335.69_' '3176.77_' '1394.91_' '1475.23_' '1429.96_' '4241.52_'
 '1321.46_' '470.42_' '111.75_' '494.51_' '807.65_' '4138.67_' '1095.9_'
 '1350.85_' '1453.61_' '3571.7_']
Number of invalid entries: 1009
--------------------------------------------------

Column: Amount_invested_monthly
Invalid values found:
['__10000__']
Number of invalid entries: 4305
--------------------------------------------------

Column: Monthly_Balance
Invalid values found:
['__-333333333333333333333333333__']
Number of invalid entries: 9
--------------------------------------------------

#### > Handling Underscore (`_`) Symbols in Columns

The dataset contains underscore (`_`) symbols in various columns. These symbols should be either removed or replaced with appropriate values based on the context of each column.

#### > Column-wise Cleaning Strategy

- **Age** : Remove `_`
- **Occupation** : Remove `_` or fill with `NULL`
- **Annual_Income** : Remove `_` or fill with `NULL` if there is no numeric value
- **Num_of_Loan** : Remove `_` or fill with `NULL` if there is no numeric value
- **Num_of_Delayed_Payment** : Remove `_` or fill with `NULL` if there is no numeric value
- **Changed_Credit_Limit** : Remove `_` or fill with `NULL` if there is no numeric value
- **Credit_Mix** : Fill `_` with `NULL`
- **Monthly_Balance** : Remove `_` or fill with `NULL` if there is no numeric value
- **Amount_invested_monthly** : Remove `_` or fill with `NULL` if there is no numeric value
- **Outstanding_Debt** : Remove `_` or fill with `NULL` if there is no numeric value

#### > Additional EDA insights:

- **Type_of_Loan** : Contains long strings with multiple loan types. These should be converted into a list of individual loan types.

  **Ex**:  `"Auto Loan, and Student Loan"` → `['Auto Loan', 'Student Loan']`

- **Age** : has un logcal values

## `ii` Visual Analysis